.fa {
   font-family: "FontAwesome";
}

.pageIcon {
    width: 100%;
    height: 100%;

    StackLayout {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        vertical-align: center;
        text-align: center; 
    }

    .fa {
        font-size: 75%;
        color: $blue-20; 
    }
}