<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Tabs"></Label>
</ActionBar>

<TabView #tabview sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: '\uf015\n Home'}">
        <Home></Home>
    </StackLayout>
    <StackLayout *tabItem="{title: '\uf1ea\n Browse'}">
        <Browse></Browse>
    </StackLayout>
    <StackLayout *tabItem="{title: '\uf002\n Search'}">
        <Search></Search>
    </StackLayout>
    <StackLayout *tabItem="{title: '\uf005\n Featured'}">
        <Featured></Featured>
    </StackLayout>
    <StackLayout *tabItem="{title: '\uf013 Settings'}">
        <Settings></Settings>
    </StackLayout>
</TabView>