<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Tabs"></Label>
</ActionBar>

<TabView #tabview sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: 'Home', iconSource: 'res://tabvIcons/home'}" >
        <Home></Home>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Browse', iconSource: 'res://tabvIcons/browse'}">
        <Browse></Browse>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Search', iconSource: 'res://tabvIcons/search'}">
        <Search></Search>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Featured', iconSource: 'res://tabvIcons/favorites'}">
        <Featured></Featured>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Settings', iconSource: 'res://tabvIcons/settings'}">
        <Settings></Settings>
    </StackLayout>
</TabView>