<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Pobierz', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
            *tabItem="{title: 'Bluetooth', iconSource: getIconSource('browse')}"
            name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Wyślij', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

</TabView>
