<TabView androidTabsPosition="bottom" (selectedIndexChanged)="onSelectedIndexChanged($event)">

    <page-router-outlet
        *tabItem="{title: 'NIGHTSCOUT', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
            *tabItem="{title: 'Bluetooth', iconSource: getIconSource('search')}"
            name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'CONFIG', iconSource: getIconSource('browse')}"
        name="searchTab">
    </page-router-outlet>

</TabView>
