<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Wyślij"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <StackLayout col="0">
    <TextField class="input input-border" autocorrect="false" hint="https://nazwastrony.herokuapp.com" text="" returnKeyType="done"></TextField>
    </StackLayout>
    <StackLayout>
    <TextField class="input input-border" autocorrect="false" hint="api_secret(nie hash)" text="" returnKeyType="done" textWrap="true"></TextField>
    </StackLayout>
    <StackLayout>
        <Button text="Zapisz" tap="onTap" class="my-button" textWrap="true"></Button>
    </StackLayout>
</StackLayout>

