<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Dane Nightscout"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <StackLayout col="0">
    <TextField #nsUrl class="input input-border"
               autocorrect="false" hint="https://nazwastrony.herokuapp.com"
               [text]="nsUrl2" returnKeyType="done" (textChange)="setNS(nsUrl)">
    </TextField>
    </StackLayout>
    <StackLayout>
    <TextField #nsKey class="input input-border" autocorrect="false" hint="api_secret(nie hash)" [text]="nsKey2" returnKeyType="done" textWrap="true" (textChange)="setNSurl(nsKey)"></TextField>
    </StackLayout>
    <StackLayout>
        <Button class="btn btn-primary btn-active" id="button" text="Zapisz" (tap)="Zapisz()"></Button>
    </StackLayout>
    <StackLayout>
        <Button class="btn btn-primary btn-active" id="button" text="Wyślij logi" (tap)="sendLogs()"></Button>
    </StackLayout>
    <ScrollView orientation="vertical" row="1" col="0" height="300" backgroundColor="blue">
    <StackLayout>
        <Label id="lbl" class="action-bar-title" [text]="slowo" textWrap="true" style="color:white;" ></Label>
    </StackLayout>
    </ScrollView>
</StackLayout>

