.input-border {
    //font-size: 16;
    //height: 64;
}
.input-field {
    margin-top: 30;
}
.btn {
    margin-top: 40;
}
.my-button {
    background-color: orangered;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 80%;
}
